/.idea
/.git
*.iml
/src/main/webapp/.idea
.classpath
/bin/
/.idea
/.git
*.iml
/src/main/webapp/.idea
.classpath
/bin/
.project
/*/.project
.DS_Store
*/.DS_Store

.classpath
/*/.classpath

.settings
/*/.settings
/*/.settings/*

target
/*/target
/*/target/*


